/* style.scss */
@import "jquery-ui";
@import "delta-normalise";
@import "delta-custom";

$highlight-color: hotpink;
$inactive-color: #ccc;
$text-color: #404040;
$border-radius: 3px;
$border1: solid 1px lightgray;

@mixin page-bg($opacity) {
	background: rgba(221, 221, 221, $opacity);
}

@mixin card {
  border-bottom:solid 2px #b9b9b9;
  background: white;
  border-left: none;
  border-right: none;
  border-radius: $border-radius;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	@include page-bg(1.0); //Background
	///*image from subtlepatterns.com*/
	background: url(images/debut_light.png) 50% 50% repeat;
	margin: 0;
	padding: 0;
	color: $text-color;
}

.header {
	width: 100%;
	padding-top: 15px;
	text-align: center;
	h1 {
		border-bottom: solid 1px #b9b9b9;
		width: 400;
		margin: 0 -30px;
		padding: 10px;
		cursor: default;
		display: inline-block;
	}
	a.button {
		font-family: Parisienne, Raleway, Futura, Helvetica, Arial, sans-serif;
		font-size: 15pt;
		vertical-align: top;
		color:$text-color;
		margin: 0 5px;
		cursor: pointer;
		&:hover, &:focus {
			color:$highlight-color;
		}
	}
}

.slip, .dialog {
  	position: relative;
	margin: 10px auto 10px auto;
  	padding: 15px 10px;
  	border-radius: $border-radius;
  	@include card;
}

.dialog {
	.image {
		border: 0;
		float: right;
		margin: 10px;
		border: $border1;
		border-radius: $border-radius;
		padding: 5px;
	}
	.footnote {
		border-top: solid 1px darkgray;
		clear: both;
		margin-bottom: 0;
		color: #555;
		font-size: 10pt;
		font-style: italic;
	}
	&.export, &.import {
		textarea {
			width: 90%;
			font-size: 8pt;
			font-family: monospace;
			height: 100px;
		}
	}
}

.note {
	color: darkGray;
  	margin: 5px 0;
}

h2 {
 	font-size: 14pt;
  	margin: 0;
}

h3 { font-size: 12pt; }

h1, h2, h3, h4, .ui-dialog-title {
	color: $text-color;
	font-family: Raleway, Futura, Helvetica, Arial, sans-serif;
}

#choose-type {
	h3 {	margin: 5px;	}
	input {
    	margin: 0 5px 0 20px;
    }
}

#details-div, #context-div {
	width: 49%;
}

#details-div {
	height: 200px;
	border-right: $border1;
}

#context-div {
	right:0;
	position: absolute;
}

.bar-outline {
	fill: whitesmoke;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.ui-button {
	font-size: 0.7em;
}

#container {
	margin: 0 auto 200px auto;
	padding: 10px;
}

#credit, #credit a {
	position: fixed;
	bottom: 0;
	right: 10px;
	font-size: 10px;
	font-family: Verdana, sans-serif;
	a {
		color: #888;
		text-decoration: none;
	}
	z-index: 300;
}

.ui-state-highlight { 
	line-height: 1.2em;
	background: whitesmoke;
	border: dotted 1px #999;
}

.ui-sortable-placeholder, .slip.disabled {
	height: 10em;
	line-height: 1.2em;
	background: rgba(200,200,200,0.2);
	border: dotted 1px #999;
	border-radius: $border-radius;
}

.ui-dialog-buttonpane {
	.errors, .alerts {
		width: 500px;
		font-size: 8pt;
		padding: 10px;
	}
}

.ui-button .ui-button-text {
	display: inline;
}

/* CLOCK CONTROLS */
input {
	&[name=start-time], &[name=end-time]  {
		width: 100px;
		padding-left: 5px;
		margin-left: 10px;
	}
	&[name=start-date], &[name=end-date] {
		width: 125px;
	}
}

textarea {
	&[name=description-input], &[name=title-input] {
		width: 350px;
		display: block;
	}
	&[name=description-input] {
		height: 80px;
	}
}

/* SVG BAR */
text {
	font-size: 10pt;
}

/* Done so that we can cancel dragging on h2 while keeping whitespace draggable*/
.slip {
	h2 { display: inline; }
	.start { text-anchor: left; }
	.current-background {
		stroke-width: 5px;
		stroke: black;
		stroke-linejoin: round;
	}
	.current { 
		text-anchor: middle; 
		font-size: 10pt;
		fill: white;
		&.highlight {fill: $highlight-color;}
		&.inactive {fill: $inactive-color;}
	}
	.end {	text-anchor:end; }
	
	
/* Example Bar */
	&.disabled {
		background: rgba(255,255,255,0.2);
		height: 7em;
		border-color: rgba(200,200,200,0.1);
		
		h2, p, .note { color: black }
		.progress, .start, .end { fill: #DDD }
		h2, p, .note, .progress, .start, .end, .current, .bar-outline { opacity: 0.2; }
		
		.add-question {
			position: absolute;
			left: 0;
			background: none;
			border-radius: $border-radius;
			width: 100%;
			top: 0;
			height: 100%;
			cursor: pointer;
			color: $text-color;
			z-index: 100;
			&:hover, &:focus {
				background: rgba(0,0,0,0.05);
				color: $highlight-color;
			}
			.text {
				margin-top: 50px;
				text-align: center;
				font-size: 17pt;
			}
		}
	}
}