/* timepicker.scss */
.ui-datepicker .ui-timepicker-div {
	.ui-widget-header { margin-bottom: 8px; }
	dl { 
		text-align: left; 
		dt { height: 25px; margin-bottom: -25px; }
		dd { margin: 0 10px 10px 65px; }
		}
	td {
		font-size: 90%;
		border: none; //Custom CSS
	}
	tr { border: none; } //Custom CSS
}
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ 
	direction: rtl; 
	dl { 
		text-align: right; 
		dd { margin: 0 65px 10px 10px; }
		};
	}

//Custom CSS
.ui-datepicker {	
	margin-left: 150px;
	margin-top: -30px;
}
/* End Timepicker CSS */

