/* timepicker.scss */
.ui-datepicker .ui-timepicker-div {
	.ui-widget-header { margin-bottom: 8px; }
	dl { 
		text-align: left; 
		dt { height: 25px; margin-bottom: -25px; }
		dd { margin: 0 10px 10px 65px; }
		}
	td {
		font-size: 90%;
		border: none;
	}
	tr {
		border: none;
	}
}
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ 
	direction: rtl; 
	dl { 
		text-align: right; 
		dd { margin: 0 65px 10px 10px; }
		};
	}
/* End Timepicker CSS */