<div class="panel panel-default">
<div class="panel-heading">{{bar.name}}</div>

<div class="panel-body">
  <p class="description" ng-bind-html="bar.note | markdown"></p>
  <blockquote ng-show="debug"><small>{{ bar | json }}</small></blockquote>
  <div class="progress">
    <div class="progress-bar progress-bar-striped" role="progressbar" 
    aria-valuenow="{{bar.percentile}}" aria-valuemin="0" aria-valuemax="100"
    ng-style="{width: bar.percentile + '%'}"
    ng-class="{active: bar.running, 'progress-bar-danger': bar.overextend}">
      <span ng-show="bar.percentile > 5">{{bar.current | formatProgress:bar.type}}</span>
    </div>
  </div>
</div>

<div class="panel-footer">
    <button type="button" class="btn btn-default" ng-show="bar.type == 'timer'" 
    ng-click='toggleTimer()'
    aria-label="{{bar.rugging ? 'Stop' : 'Start'}}">

      <span ng-show="bar.running" class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      <span ng-show="!bar.running" class="glyphicon glyphicon-play" aria-hidden="true"></span>
    </button>
     <button type="button" class="btn btn-default" 
      ng-show="bar.type == 'timer'"  aria-label="Reset"
      ng-click='resetTimer()'>
        <span class="glyphicon glyphicon-repeat" aria-hidden="true">
    </button>

    <button type="button" class="btn btn-default" aria-label="Debug"
    ng-click='debug = !debug'>
      <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
    </span>
</button>


</div>

</div>